<button class="btn" ng-click="vm.addEatHistory()">Add</button>
<div full-height>
    <table class="table table-striped table-bordered table-hover table-condensed" scrolly="vm.loadNextPage()" scroll-disabled="vm.isQuerying || !vm.hasMoreData">
        <thead>
            <tr>
                <th>Eat Date</th>
                <th>Eat at</th>
                <th>Eat By</th>
                <th>Paid By</th>
                <th>Total Amount</th>
                <th>Eat History</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="eh in vm.eatHistories">
                <td>{{eh.eatDate | date}}</td>
                <td>{{eh.hotelUid.name}}</td>
                <td>{{eh.eatUserUid.name}}</td>
                <td>{{eh.paidByUserUid.name}}</td>
                <td>{{eh.totalAmount}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="vm.editEatHistory(eh._id)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<modal id="ehDetailModal">
    <div class="modal">
        <div class="modal-body">
            <div class="text-right">
                <button class="btn btn-danger" ng-click="vm.closeDetailModal()">x</button>
            </div>
            <div>
                Who are you ?
                <input class="form-control" id="eatUserTypeAhead" ng-init="vm.enableTypeAhead('eatUserTypeAhead', '/user/getList', 'users', 'eatUserUid')" value="{{vm.editingEHT.eatUserUid.name}}" />
            </div>
            <div>
                Where did you eat ?
                <input class="form-control" id="hotelUserTypeAhead" ng-init="vm.enableTypeAhead('hotelUserTypeAhead', '/hotel/getList', 'hotels', 'hotelUid')" value="{{vm.editingEHT.hotelUid.name}}" />
            </div>
            <div>
                When did you eat ?
                <input type="date" class="form-control" ng-model="vm.editingEHT.eatDate" />
            </div>
            <div>
                Who paid for you ?
                <input class="form-control" id="paidByUserTypeAhead" ng-init="vm.enableTypeAhead('paidByUserTypeAhead', '/user/getList', 'users', 'paidByUserUid')" value="{{vm.editingEHT.paidByUserUid.name}}" />
            </div>
            <div ng-show="vm.editingEHT.eatUserUid._id && vm.editingEHT.hotelUid._id && vm.editingEHT.eatDate && vm.editingEHT.paidByUserUid._id">
                What did you eat ?
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Item shared by how many peoples ?</th>
                            <th class="text-right">Amount</th>
                            <th>Add/Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ehtI in vm.editingEHT.items">
                            <td>
                                <input class="form-control" id="itemTypeAhead{{$index}}" ng-init="vm.enableTypeAhead('itemTypeAhead' + $index, '/item/getList', 'items', null, true, $index)" value="{{vm.editingEHT.items[$index].itemUid.name}}" />
                            </td>
                            <td>
                                <input type="number" class="form-control text-right" ng-model="vm.editingEHT.items[$index].quantity" />
                            </td>
                            <td>
                                <input type="number" class="form-control text-right" ng-model="vm.editingEHT.items[$index].sharedBy" />
                            </td>
                            <td class="text-right">
                                {{vm.getItemNetAmount(vm.editingEHT.items[$index])}}
                            </td>
                            <td>
                                <button ng-click="vm.removeEditingEHTItem($index)" class="btn btn-danger" ng-if="vm.editingEHT.items.length > 1"> Remove </button>
                                <button ng-click="vm.addEditingEHTItem($index)" class="btn btn-primary" ng-if="vm.editingEHT.items.length - 1=== $index"> Add </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                Total Amount:
                            </td>
                            <td class="text-right">{{vm.getTotalAmount(vm.editingEHT.items)}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right" ng-if="vm.editingEHT.eatUserUid._id && vm.editingEHT.hotelUid._id && vm.editingEHT.eatDate && vm.editingEHT.paidByUserUid._id && vm.editingEHT.items.length">
                <button class="btn btn-primary" ng-click="vm.saveEditingEHT()">Save</button>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>